<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat:</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <div class="container">
            <h3 class="middle-2">Edit your chat: <%=chat._id%></h3><br>
            <p class="">This was send from:<b><%=chat.from%></b> to: <b><%=chat.to%></b></p><br>
            <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
                <textarea name="msg" cols="20" rows="5"><%=chat.msg%></textarea><br><br>
                <button class="btn btn-dark">Edit-Your chat</button><br><br>
            </form>
        </div>  
</body>
</html>
